<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="SangBui"></meta>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" type='text/css' href="/main.css">
    <title>Home</title>
</head>
<body>
    <!--Navigation-->
    <nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"><img src="/images/tologo.png"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-atuo">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Trang Chủ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/allproduct">Sản Phẩm</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Đăng Nhập</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/signup">Đăng Ký</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/cart"><img src="/images/cart.png" style="width: 1.7em;"><%if(session != undefined) { %>
                                                                                                                <span class="badge badge-pill badge-dark"><%= session.totalQty %></span>
                                                                                                            <% } %></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div>
        <!--Image slider-->
        <div id="slides" class="carousel slide" data-ride="carousel">
            <ul class="carousel-indicators">
                <li data-target="#slides" data-slide-to="0" class="active"></li>
                <li data-target="#slides" data-slide-to="1"></li>
                <li data-target="#slides" data-slide-to="2"></li>
            </ul>
            <div class="carousel-inner" >
                <div class="carousel-item active">
                  <img src="/images/banner1.png" alt="Los Angeles" class="container-fluid">
                </div>
                <div class="carousel-item">
                  <img src="/images/banner2.jpg" alt="Chicago" class="container-fluid">
                </div>
                <div class="carousel-item">
                  <img src="/images/banner3.jpg" alt="New York"class="container-fluid">
                </div>
              </div>
            </div>
            <a class="carousel-control-prev" href="#slides" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
              </a>
              <a class="carousel-control-next" href="#slides" data-slide="next">
                <span class="carousel-control-next-icon"></span>
              </a>
        </div>
        <section class="page-section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6 text-center">
                        <div class="mt-5">
                            <img style="float: left;" width="20%" height="20%"" src="https://theordinaryvietnam.shop/wp-content/uploads/2020/06/ship.png" class="attachment-large size-large lazyloaded" alt="" sizes="(max-width: 1057px) 100vw, 1057px" srcset="https://theordinaryvietnam.shop/wp-content/uploads/2020/06/ship.png 1057w, https://theordinaryvietnam.shop/wp-content/uploads/2020/06/ship-768x767.png 768w, https://theordinaryvietnam.shop/wp-content/uploads/2020/06/ship-300x300.png 300w, https://theordinaryvietnam.shop/wp-content/uploads/2020/06/ship-600x599.png 600w, https://theordinaryvietnam.shop/wp-content/uploads/2020/06/ship-100x100.png 100w" data-ll-status="loaded">
                            <h5 class="h4 mb-2">Free Ship</h5>
                            <p class="text-muted mb-0">Miễn Phí Giao Hàng Toàn Quốc</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 text-center">
                        <div class="mt-5">
                            <img style="float: left;" width="20%" height="20%" src="/images/11111.png" data-ll-status="loaded">
                            <h5 class="h4 mb-2">Hàng Chính Hãng</h5>
                            <p class="text-muted mb-0">Đảm Bảo Hàng Thật Chính Hãng</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 text-center">
                        <div class="mt-5">
                            <img style="float: left;" width="20%" height="20%" src="/images/qua.png" class="attachment-large size-large lazyloaded" alt="" sizes="(max-width: 1125px) 100vw, 1125px" data-ll-status="loaded">
                            <h5 class="h4 mb-2">Quà tặng</h5>
                            <p class="text-muted mb-0">Hàng Ngàn Quà Tặng Đặc Biệt</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
          <div style="margin-top: 20px" class="text-center"><h2>Top Sản Phẩm Bán Chạy</h2></div>
          <div class="container" style="padding-bottom: 30px;">
            <div class="row">
              <div class="col-xs-6 col-sm-3" style="padding: 20px">
                <div class="card">
                  <img class="card-img-top" src="https://mint07.com/wp-content/uploads/2020/03/serum-the-ordinary-lactic-acid-10-ha3.jpg " alt="Card image" style="width:100%">
                    <div class="card-body">
                      <h5>
                          <strong><a href="">Serum The Ordinary Lactic Acid 10% + HA 2%</a></strong>
                      </h5>
                      <p class="card-text">off to 20%<span class="badge badge-pill badge-danger"> Hot</span></p>
                      <h4 style="text-align: center;">550.000 VND</h4>
                      <div class="text-center">
                          <a href="" class="btn btn-sm btn-dark" role="button">Mua Hàng</a>
                      </div>
                    </div>
                </div>
              </div>
              <div class="col-xs-6 col-sm-3" style="padding: 20px">
                <div class="card">
                  <img class="card-img-top" src="https://meocosmetic.vn/wp-content/uploads/2019/07/Screenshot_20180501-095005-800x800.jpg" alt="Card image" style="width:100%">
                    <div class="card-body">
                      <h5>
                          <strong><a href="">Serum The Ordinary Glyco Acid 7% </a></strong>
                      </h5>
                      <p class="card-text">Chỉ còn 2 sản phẩm<span class="badge badge-pill badge-danger"> Hot</span></p>
                      <h4 style="text-align: center;">450.000 VND</h4>
                      <div class="text-center">
                          <a href="" class="btn btn-sm btn-dark" role="button">Mua Hàng</a>
                      </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-3"  style="padding: 20px">
              <div class="card">
                <img class="card-img-top" src="https://ngocamber.com/assets/uploads/original/tinh-chat-cap-am-phuc-hoi-da-the-ordinary-hyaluronic-acid-2-b5-0.jpg" alt="Card image" style="width:100%">
                  <div class="card-body">
                    <h5>
                        <strong><a href="">Serum The Ordinary Hyalunoric Acid 2% + B5</a></strong>
                    </h5>
                    <p class="card-text">Bán chạy số 1<span class="badge badge-pill badge-danger"> Hot</span></p>
                    <h4 style="text-align: center;">gia tien VND</h4>
                    <div class="text-center">
                        <a href="" class="btn btn-sm btn-dark" role="button">Mua Hàng</a>
                    </div>
                  </div>
              </div>
          </div>
          <div class="col-xs-6 col-sm-3"  style="padding: 20px">
            <div class="card">
              <img class="card-img-top" src="https://beautyplusuk.com/wp-content/uploads/2020/04/Serum-Tr%E1%BB%8B-Th%C3%A2m-N%C3%A1m-The-Ordinary-Ascorbic-Acid-8Alpha-Arbutin-2-1.jpg" alt="Card image" style="width:100%">
                <div class="card-body">
                  <h5>
                      <strong><a href="">Serum The Ordinary Ascobic Acid 8%</a></strong>
                  </h5>
                  <p class="card-text">Chuyên trị nám<span class="badge badge-pill badge-danger"> Hot</p>
                  <h4 style="text-align: center;">gia tien VND</h4>
                  <div class="text-center">
                      <a href="" class="btn btn-sm btn-dark" role="button">Mua Hàng</a>
                  </div>
                </div>
            </div>
        </div>
      </div>
      </div>


    <footer class="section footer-classic context-dark bg-image" style="background: #2d3246;">
        <div class="container">
          <div class="row row-30">
            <div class="col-md-4 col-xl-5">
              <div class="pr-xl-4"><h4>Công ty trách nhiệm lắm hạn 3 thành viên SMN</h4>
                <p>Sang VjpPro1999</p>
                <p>Nghĩa ngok ngek</p>
                <p>Minh mjt moi?</p>
                <!-- Rights-->
                <p class="rights"><span>©  </span><span class="copyright-year">2069</span><span> </span><span>Waves</span><span>. </span><span>All Rights Reserved.</span></p>
              </div>
            </div>
            <div class="col-md-4">
              <h5>Contacts</h5>
              <dl class="contact-list">
                <dt>Address:</dt>
                <dd>92 Hàm Tử</dd>
              </dl>
              <dl class="contact-list">
                <dt>email:</dt>
                <dd><a href="mailto:#">sangbt@imt-soft.com</a></dd>
              </dl>
              <dl class="contact-list">
                <dt>phones:</dt>
                <dd><a href="tel:#">0836303352</a>
                </dd>
              </dl>
            </div>
            <div class="col-md-4 col-xl-3">
              <h5>Links</h5>
              <ul class="nav-list">
                <li><a href="#">About</a></li>
                <li><a href="#">Projects</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Contacts</a></li>
                <li><a href="#">Pricing</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row no-gutters social-container">
          <div class="col"><a class="social-inner" href="#"><span class="icon mdi mdi-facebook"></span><span>Facebook</span></a></div>
          <div class="col"><a class="social-inner" href="#"><span class="icon mdi mdi-instagram"></span><span>instagram</span></a></div>
          <div class="col"><a class="social-inner" href="#"><span class="icon mdi mdi-twitter"></span><span>twitter</span></a></div>
          <div class="col"><a class="social-inner" href="#"><span class="icon mdi mdi-youtube-play"></span><span>google</span></a></div>
        </div>
      </footer>
</body>
</html>